@font-face {
  font-family: "Sequel Wide";
  src: url("/wide.otf") format("opentype");
}
*,body {
  font-family: "Sequel Wide", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}
body {
  margin: 0;
  font-family: "Sequel Wide", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Sequel Wide", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
